.button-container {
    border-width: 2px;
    font-weight: 600;
    font-size: 20px;
    padding: 0.7rem 1.2rem;
    background-color: transparent;
    border: 2px solid #6E07F3;
    border-radius: 9999px;
    border-color: #6E07F3;
    color: #6E07F3;

    &:hover {
        transition: all .2s ease-in-out;
        background-color: #6E07F3;
        color: white;
        cursor: pointer;
    }
}