@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
.header {
    font-weight: bold;
    font-size: 20px;
    @include media-breakpoint-up(sm) {
        font-size: 2.5rem;
    }
    
}

.sub-header {
    font-size: 1.5rem;
    font-weight: 400;
}